<div mat-dialog-content>
    <form #formularioCliente="ngForm" (ngSubmit)="formularioEnviado()">
        <label for="codigo">Codigo
            <input [disabled]="codigodisabled" type="text" name="codigo" 
            (blur)="buscarcliente()"
            id="codigo" size="12" [(ngModel)]="numcli_z">
        </label>

        <div name="datoscliente">
            <label *ngIf="!canledisabled" for="enganche">Enganche
                <input disabled="true" type="number" name="enganche" id="enganche" size="10" 
                (blur)="calcu_precio_lista()" [(ngModel)]="nvocli.enganche">
            </label>
    
            <mat-card>
                    <mat-card-title>Nombre del Cliente</mat-card-title>
                    <label for="appat" size="10">Apellido Paterno</label>
                        <input type="text" name="appat" id="appat" size="30" [(ngModel)]="nvocli.appat" 
                        oninput="this.value = this.value.toUpperCase()">
        
                    <br>
                    <label for="apmat" size="10" >Apellido Materno</label>
                        <input type="text" name="apmat" id="apmat" size="30" [(ngModel)]="nvocli.apmat" 
                        oninput="this.value = this.value.toUpperCase()">
                    <br> 
                    <label for="nombre1" size="10">Nombre1</label>
                        <input type="text" name="nombre1" id="nombre1" size="30" [(ngModel)]="nvocli.nompil1"
                        oninput="this.value = this.value.toUpperCase()" >
                    <br>
                    <label for="nombre2"  size="10">Nombre2</label>
                        <input type="text" name="nombre2" id="nombre2" size="30" [(ngModel)]="nvocli.nompil2"
                        oninput="this.value = this.value.toUpperCase()" >
            </mat-card>
            <mat-card>
                <mat-card-title>Direccion del Cliente</mat-card-title>
                <label for="calle">Calle y Cruzamientos</label>
                    <input type="text" name="calle" id="calle" size="30" [(ngModel)]="nvocli.calle"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label  for="predio">Num.Predio</label>
                    <input type="text" name="predio" id="predio" size="30" [(ngModel)]="nvocli.numpred"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label for="colonia">Colonia</label>
                    <input type="text" name="colonia" id="colonia" size="30" [(ngModel)]="nvocli.colonia" 
                    oninput="this.value = this.value.toUpperCase()">
                <br>
                <label for="codpost">Codigo Postal</label>
                    <input type="text" name="codpost" id="codpost" size="30" [(ngModel)]="nvocli.codpost"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label for="poblacion">Poblacion</label>
                    <select name="poblacion" id="poblacion" value="{{nvocli.poblac}}" 
                     [(ngModel)]= "nvocli.poblac" >
                     <option *ngFor="let mipoblacs of poblaciones" value="{{mipoblacs.ciudad}}"
                      [selected]="nvocli.poblac == mipoblacs.ciudad">
                      {{mipoblacs.ciudad}}
                     </option>
                    </select>
                <br>
                <label for="emailcli">Email Cliente</label>
                <input type="text" name="emailcli" id="emailcli" size="30" [(ngModel)]="nvocli.email" >
            </mat-card>
            <br>
            <mat-card *ngIf="conaval" >
                <mat-card-title>Datos del Aval</mat-card-title>
                <label for="appataval" size="10">Apellido Paterno</label>
                <input type="text" name="appataval" id="appataval" size="30" [(ngModel)]="nvoaval.appat" 
                    oninput="this.value = this.value.toUpperCase()">
    
                <br>
                <label for="apmataval" size="10" >Apellido Materno</label>
                <input type="text" name="apmataval" id="apmataval" size="30" [(ngModel)]="nvoaval.apmat" 
                    oninput="this.value = this.value.toUpperCase()">
                <br> 
                <label for="nombre1aval" size="10">Nombre1</label>
                <input type="text" name="nombre1aval" id="nombre1aval" size="30" [(ngModel)]="nvoaval.nompil1"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label for="nombre2aval"  size="10">Nombre2</label>
                <input type="text" name="nombre2aval" id="nombre2aval" size="30" [(ngModel)]="nvoaval.nompil2"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label for="dir1aval"  size="10">Direccion</label>
                <input type="text" name="dir1aval" id="dir1aval" size="30" [(ngModel)]="nvoaval.dirav1"
                        oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label for="dir2aval"  size="10">Direccion 2</label>
                <input type="text" name="dir2aval" id="dir2aval" size="30" [(ngModel)]="nvoaval.dirav2"
                                oninput="this.value = this.value.toUpperCase()" >
            </mat-card>
            <mat-card>
                <label for="jefgpo">Entregado Por
                    <select name="jefgpo" id="jefgpo" value="{{nvocli.promotor}}" 
                     [(ngModel)]= "nvocli.promotor" >
                    <option *ngFor="let mipromo of promotor" value="{{mipromo.cvepromo}}"
                      [selected]="nvocli.promotor == mipromo.cvepromo">
                      {{mipromo.cvepromo}} {{mipromo.nombre}}
                      </option>
                    </select>
                </label>
                <br>
                <label for="comjef">Comision Promotor
                    <input type="number" name="comjef" id="comjef" size="10" [(ngModel)]="nvocli.comisionprom">
                </label> 
                <br>
                <label for="fpagcom">Fecha Pago Comision
                    <input type="text" name="fpagcom" id="fpagcom" size="10" [(ngModel)]="nvocli.pgocom" >
                </label>
        
            </mat-card>
    
        </div>    
    </form>
    </div>
    <div mat-dialog-actions>
        <div  style="display: flex; justify-content: flex-end;">
        <button mat-raised-button  style="margin-right: 5px;" color="warn" (click)="closeno()">Cancelar</button>
        <button mat-raised-button  color="primary"   (click)="closeyes()">Aceptar</button>
    </div>
    </div>
    