<h1 mat-dialog-title> Porporcione los datos del Pago</h1>
<mat-dialog-content>
        <div *ngIf="cliente" id="complementocliente" [hidden]="!clienteactivo_z" >
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf = "esmoroso" >
                            Codigo: <b>{{cliente.numcli}}</b>  
                            Nombre: <b><label [class.labelgray]="esstatus1"  >{{cliente.nombre}}</label>  </b>

                        </div>
                        <table border="1" *ngIf = "!esmoroso" >
                            <tr>
                                <td width="80%">
                                    Codigo: <b>{{cliente.numcli}}</b>  
                                    Nombre: <b><label [class.labelgray]="esstatus1"  >{{cliente.nombre}}</label>  </b><br>
                                    Direccion: <b>{{cliente.direc}} {{cliente.poblac}} </b> <br>
                                    Enganche: <b>{{cliente.enganche | currency }}</b> 
                                    lta 1/1 : <b>{{cliente.letra1  | currency}}</b>  
                                    N.Letras: <b>{{cliente.nulet}} </b>
                                    de <b>{{cliente.canle | currency}}</b> 
                                    Bonificacion: <b>{{cliente.bonificacion  | currency }} </b><br>
                                    Cargos: <b>{{cliente.cargos  | currency}}</b>  
                                    Abonos: <b>{{cliente.abonos  | currency }}</b> 
                                    Saldo: <b>{{ cliente.cargos - cliente.abonos  | currency }}</b>
                                    <label  class="labelgray" *ngIf="conpromo_z" >Promcion: {{cliente.diasgracia}} </label>
                                    <br>
                                    Compra: <b>{{cliente.compra}} </b>
                                    <br>
                
                                </td>
                                <td>
                                    Vencimientos:<br>
                                    <div class="boxscroll">
                                        <table border="1">
                                            <tr bgColor="gray">
                                                <th>Letra</th>
                                                <th>Vence</th>
                                                <th>Pagado</th>
                                            </tr>
                                            <tr *ngFor="let mivencimiento of letras">
                                                <td>{{mivencimiento.letra}}/{{cliente.nulet}}</td>
                                                <td>{{mivencimiento.vence}}</td>
                                                <td >
                                                    <mat-icon *ngIf="mivencimiento.pagado">done</mat-icon>
                                                    <mat-icon *ngIf="mivencimiento.vencido" color="warn">close</mat-icon>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                        </tr>
                    </table>
        
                    </div>
                </div>
                <div>
                    <mat-card>
                        <div>
                            <p> {{msg_z}}</p>
                            <div id="errores"  *ngIf="errorespago()">
                                <p style="background:orange; font-weight:bold; padding:15px;">
                                    <mat-icon class="red-icon">warning</mat-icon>
                                    {{errores_z}} 
                                    </p>
                            </div>
    
                        </div>
                        <form >
                            <div class="row">
                                <mat-form-field (blur)="sel_tipopago()">
                                    <mat-label>Pago</mat-label>
                                    <mat-select placeholder="Tipo de Pago"
                                    name="pago"
                                    (selectionChange)="tipopagoSelectionChange($event)" 
                                    [(ngModel)]="tipopagosel_z" [value]="tipopagosel_z">
                                        <mat-option *ngFor="let tipopago of tipospagos"
                                         [value]="tipopago.clave" >
                                          {{tipopago.descri}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field >
                                <mat-form-field>
                                    <mat-label>Letra Inicial</mat-label>
                                    <input matInput placeholder="Letra Inicial" 
                                    [readonly]="true" 
                                    type="number" name="ltaini" id="ubicafin" [(ngModel)]= "datospago.ltaini"> 
                                </mat-form-field>
                                <mat-form-field *ngIf="!ultltaoculto_z" (blur)="calcula_bonif_extra()">
                                    <mat-label>Letra Final</mat-label>
                                    <mat-select  
                                    (selectionChange)="tipopagoSelectionChange($event)" 
                                    [(ngModel)]="datospago.ltafin" [value]="datospago.ltafin"
                                    name="ltafin" >
                                        <mat-option *ngFor="let miltafin of listaletras"
                                         [value]="miltafin">
                                          {{miltafin}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field >
                        </div>
                        <div class="row">
                            <div *ngIf = "checa_si_es_acuenta_moroso()">
                                <mat-form-field>
                                    <mat-label>Importe Cobrado</mat-label>
                                    <input matInput placeholder="Importe Cobrado" 
                                    type="number" name="importecobrado" id="importecobrado" 
                                    [(ngModel)]= "importecobrado"
                                    (blur)="calculaImporteAcuentaMoroso()"
                                    > 
                                </mat-form-field>
    
                            </div>
                            <mat-form-field>
                                <mat-label>Concepto</mat-label>
                                <input matInput placeholder="Concepto" 
                                readonly="true"
                                type="text" name="concepto" id="concepto" [(ngModel)]= "datospago.concepto"> 
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Continuación del Concepto</mat-label>
                                <input matInput  
                                  type="text" name="concepto2" id="concepto2" 
                                  [(ngModel)]= "datospago.conceptocompl" 
                                  (blur)="define_bonif_abierta()"
                                > 
                            </mat-form-field>
                            <mat-label *ngIf="esconrec_z" > 
                                Recargo Cobrado: {{ recargoscobrados_z | currency }}
                            </mat-label>

                        </div>
                        <div class="row">
                            <mat-form-field *ngIf="!tipomovcerrado">
                                <mat-label>Es Con</mat-label>
                                <mat-select  
                                (selectionChange)="tipomovSelectionChange($event)" 
                                [(ngModel)]="tipomovsel_z" 
                                name="tipopago"
                                (blur)="sel_tipopago()">
                                    <mat-option *ngFor="let tipomov of tiposmov"
                                     [value]="tipomov">
                                      {{tipomov.descri}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field >
                                <mat-label *ngIf="esconrec_z" >Recargo </mat-label>
                                <mat-label *ngIf="!esconrec_z" >Bonificación </mat-label>
                                <input matInput placeholder="Importe de Recargo o Bonificacion" 
                                  type="number" name="recobon" id="recobon" 
                                  [(ngModel)]= "datospago.recobon" 
                                  [readonly]="bonif_cerrada" (blur)="calculaNeto()"
                                  
                                > 
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label >Importe </mat-label>
                                <input matInput placeholder="Importe del Pago "
                                type="number" [readonly] ="importecerrado" 
                                name="importe" id="importe" (blur)="calculaNeto()" 
                                [(ngModel)] = "datospago.importe" 
                                > 
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label >Neto </mat-label>
                                <input matInput type="text" [readonly]="true" 
                                name="neto" id="neto" value =  "{{datospago.neto | currency}}"
                                > 
                            </mat-form-field>
                        </div>
                        <div class="row" *ngIf = "esmoroso" >
                            <mat-form-field>
                            <mat-label >Comision {{datospago.cobratario}}  </mat-label>
                            <input matInput placeholder="Importe del Pago "
                            type="number" [readonly]="importecerrado" 
                            name="comision" id="comision" [(ngModel)] = "datospago.comision" >
                            </mat-form-field>
                            <mat-checkbox name="pedirplazo" [(ngModel)]="sitengoplazo" (click)="click_plazo()">
                                Agregar Plazo
                            </mat-checkbox>
                            <div *ngIf="sitengoplazo">
                                <div class="row">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Fecha</mat-label>
                                        <input matInput [matDatepicker]="picker" name="fechaplazo" [(ngModel)]="datosplazo.fechaplazo">
                                        <mat-hint>DD/MM/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Vence</mat-label>
                                        <input matInput [matDatepicker]="pickervence" name="venceplazo" [(ngModel)]="datosplazo.venceplazo">
                                        <mat-hint>DD/MM/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="pickervence"></mat-datepicker-toggle>
                                        <mat-datepicker #pickervence></mat-datepicker>
                                    </mat-form-field>
    
                                </div>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>
                                        Observaciones
                                    </mat-label>
                                    <input type="text" matInput name="observs" [(ngModel)]="datosplazo.observs">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row" *ngIf = "!esmoroso">
                            <mat-form-field>
                            <mat-label >Recibido</mat-label>
                            <input matInput placeholder="Importe del Pago "
                            type="number"  name="recibido" id="recibido" 
                            (keyup)="onChangeObj($event)"
                            [(ngModel)]="recibido" >
                            </mat-form-field>
                            <mat-label >Cambio: {{cambio | currency}} </mat-label>
                        </div>

                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
        
</mat-dialog-content>
<div mat-dialog-actions>
    <button  mat-raised-button color="primary" (click)="siaceptarpago()" [disabled]="!aceptarpago">Aceptar</button>
    <button  mat-raised-button color="warn" (click)="closeno()">Cancelar</button>
</div>
