<div>
    <h2>Datos de Factura</h2>
        <button mat-raised-button color="primary" (click)="regresar()"  >
            <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_left</mat-icon>
             Regresar
            </button>

    <form #formularioCliente="ngForm" *ngIf= "factura">
        <div name="factura">
                <table *ngIf="factura">
                    <tr>
                        <td>
                            <button mat-raised-button color="primary" 
                                [disabled]="escerrada" (click)="editar_factura()" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">edit</mat-icon>
                                 Modificar Factura
                            </button>
                            <button mat-raised-button color="primary" 
                            [disabled]="escerrada || !fechacorrecta_z" (click)="cerrar_factura()" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">lock</mat-icon>
                                Cerrar Factura
                            </button>
                            <button mat-raised-button color="primary" 
                                [disabled]="!escerrada" (click)="imprimir_factura()" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">print</mat-icon>
                                Imprimir Factura
                            </button>

                            <label for="rotarfac">
                                Rotar Factura al Imprimir
                                <input type="checkbox" name="rotarfac" id="rotarfac" [(ngModel)]="rotarfac" (blur)="graba_rotar_factura()">
                            </label>
                            <br>
                                <div *ngIf="cliente">
                                    <label class="ancho80" for=""> Codigo</label>
                                    <input disabled type="text" size="10" name="" id="" value=" {{cliente.numcli}} ">
                                    <label for=""> Nombre</label>
                                     <input disabled type="text" size="30" name="" id="" value=" {{cliente.nombre}} ">
                                </div>
                                <label class="ancho80" for="seriefac">Serie</label> 
                                <input type="text" readonly size="5"  name="serifac" id="seriefac" value=" {{factura.serie}}"> 
                                <label for="numfac">Numero</label> 
                                <input type="text" readonly size="8" name="numfac" id="numfac" value = "{{factura.numero}}" > 
                                <label for="fechafac">Fecha</label> 
                                <input type="text" readonly size="10" name="fechafac" id="fechafac" value ="{{factura.fecha}}"> 
                                <div *ngIf="!escerrada" >
                                    <label color="warn" for="fecha">Fecha de cierre</label>
                                    <input type="date" name="fecha" id="fecha" (change)="validar_fecha_cierre()" [(ngModel)]="strfeccierre_z" >
                                    <div *ngIf="!fechacorrecta_z">
                                        <p style="background:orange; font-weight:bold; padding:15px;">
                                        <mat-icon class="red-icon">warning</mat-icon>
                                        {{msgerror_z}} 
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <label class="ancho80" for="prodfin">Prod.F</label>
                                <input type="text" readonly size="10" name="prodfin" id="prodfin" 
                                 value ="{{factura.prodfin | currency }}" >
                                <label for="impfac"> Importe</label> 
                                <input type="text" readonly size="10" name="impfac" id="impfac" 
                                value ="{{factura.subtot | currency}}" >
                                <label for="ivafac">Iva</label>
                                <input type="text" readonly size="10" name="ivafac" id="ivafac" value = "{{factura.iva | currency}}" >
                                <label for="totalfac">Total</label> 
                                <input type="text" readonly size="10" name="totalfac" id="totalfac" value ="{{factura.total | currency}}">
                                <br>
                                <label class="ancho80" for="servicio">Servicio</label> 
                                <input type="text" readonly size="10" name="totalfac" id="totalfac" value ="{{servic_z | currency}}">

                                <label  for="totalgral">Total General</label> 
                                <input  readonly type="text" size="10" name="totalgral" id="totalfac" value ="{{factura.total + factura.prodfin + servic_z | currency}}">

                                 <br>
                                <label class="ancho80" for="uuidfac">UUID</label> 
                                <input type="text" readonly size="40" name="uuidfac" id="uuidfac" value ="{{factura.uuid}}">
                                <br>
                                <label class="ancho80" for="metpag">Met.Pago</label> 
                                <input type="text" readonly size="20" name="matpag" id="metpag" value ="{{factura.metodopago}} ">
                                <label for="usocfdi">Uso CFDI</label>
                                <input type="text" readonly size="20" name="usocfdi" id="usocfdi" value ="{{factura.usocfdi}}">
                                <br>
                                <label class="ancho80" for="rfcfac">RFC</label>
                                <input type="text" readonly size="15"  name="rfcfac" id="rfcfac" value ="{{factura.rfc}}">
                                <label for="emailfac">Correo</label>
                                <input type="text" readonly size="50" name="emailfac" id="emailfac" value ="{{factura.email}}">
                                <br>
                                <label class="ancho80" for="regimen">Regimen</label>
                                <input type="text" readonly size="50" name="regimen" id="regimen" value = {{regimen_z}} >
                    </td>
                    </tr>
                    <tr>
                        <td>

                            <button [disabled]="escerrada || sinpassword" mat-raised-button color="primary" (click)="agregar_renfac()" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">add_box</mat-icon>
                                Agregar Renglon
                            </button>
                            <button mat-raised-button color="primary" 
                                [disabled]="escerrada" (click)="pide_password()" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">password</mat-icon>
                                Modificar Renglones
                            </button>
                            <br>
            
                            <table border="1" class="hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Precio.U</th>
                                        <th>Importe</th>
                                        <th>Folio</th>
                                        <th>Serie</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mirenfac of renfacfo; first as isFirst">
                                        <td>{{mirenfac.codigo}}</td>
                                        <td>{{mirenfac.concepto}} </td>
                                        <td> {{mirenfac.canti}} </td>
                                        <td>{{mirenfac.preciou | currency}} </td>
                                        <td> {{mirenfac.importe + mirenfac.iva | currency}} </td>
                                        <td> {{mirenfac.folio}} </td>
                                        <td> {{mirenfac.serie}} </td>
                                        <button [disabled]="escerrada || sinpassword" mat-raised-button color="warn" (click)="eliminar_renfac(mirenfac)" >
                                            <mat-icon aria-hidden="false" aria-label="Example new icon">delete</mat-icon>
                                            Eliminar
                                        </button>
                                        <button  *ngIf="!isFirst" [disabled]="escerrada" mat-raised-button color="primary" (click)="subir_renfac(mirenfac)" >
                                            <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_up</mat-icon>
                                            Subir
                                        </button>

            
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
        </div>

    </form>
</div>

