<div mat-dialog-content>
    <form #formularioCliente="ngForm" >
        <div name="relacion">
            <mat-card>
                <mat-card-title>Datos de Sabana de Ventas</mat-card-title>
                <h1 *ngIf="ubica_z"> Ubicacion: {{ubica_z.ubica}} {{ubica_z.nombre}} </h1>
                <p style="background:orange; font-weight:bold; padding:15px;">
                    <mat-icon class="red-icon">warning</mat-icon>
                    Todas las ventas del rango de fechas se cerrarán
                </p>
                <mat-form-field>
                    <mat-label>Fecha</mat-label>
                    <input matInput placeholder="Fecha" type="date" name="fecha" id="fecha" [(ngModel)] ="fecha"> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha Inicial</mat-label>
                    <input matInput placeholder="Fecha" type="date" name="fecha" id="fechainicial" [(ngModel)] ="fechainicial_z"> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha Final</mat-label>
                    <input matInput placeholder="Fecha" type="date" name="fecha" id="fechafinal" [(ngModel)] ="fechafinal_z"> 
                </mat-form-field>

            </mat-card>
        </div>
    </form>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end;">
    <button mat-raised-button  color="warn" (click)="closeno()">Cancelar</button>
    <button mat-raised-button  color="primary"   (click)="closeyes()">Aceptar</button>
</div>

