<div mat-dialog-content>{{title}} <br>
    <form >

    <label for="ltaini" >Letra Inicial</label>
    <input type="number" size="5" name="ltaini" [(ngModel)]="ltaini">
    <label for="">Letra 0 es Saldo de Enganche</label>
    <br>
    <label for="ltafin">Letra Final</label>
    <input type="number" size="5" name="ltafin" [(ngModel)]="ltafin">
    <br>
    <label for="">Letras en Formato pdf</label>
    <input type="checkbox" name="enpdf" [(ngModel)] = "enpdf" >
    </form>

</div>
<div mat-dialog-actions style="display: flex; justify-content: space-around; justify-items: center;">
    <button mat-raised-button  color="warn" (click)="closeno()">Cancelar</button>
    <button mat-raised-button  color="primary"   (click)="closeyes()">Aceptar</button>
</div>
