<div mat-dialog-content>
<form #formularioCliente="ngForm" (ngSubmit)="formularioEnviado()">
    <label for="codigo">Codigo
        <input [disabled]="codigodisabled" type="text" name="codigo" id="codigo" size="12" [(ngModel)]="numcli_z">
    </label>
    <div name="datoscliente">
        <label for="status">Status
            <select name="status" id="status" value="{{nvocli.status}}" 
             [(ngModel)]= "nvocli.status" >
             <option *ngFor="let mistatus of statuscli" value="{{mistatus.clave}}"
              [selected]="nvocli.status == mistatus.clave">
              {{mistatus.descri}}
             </option>
            </select>

        </label>
        <label for="qom">Periodicidad Pago
            <select [disabled]="factura_al_momento" name="qom" id="qom" value="{{nvocli.qom}}" (blur)="selecciona_letras_cliente()" [(ngModel)]= "nvocli.qom" >
                <option *ngFor="let miqom of tipoqom" value="{{miqom.clave}}"
                  [selected]="nvocli.qom == miqom.clave">
                  {{miqom.descri}}
                </option>
            </select>
        </label>
        <label for="tasaiva">Tasa Iva
            <input type="number" name="tasaiva" id="tasaiva" size="10" [(ngModel)]="nvocli.piva" >
        </label>


            <mat-card>
                <mat-card-title>Nombre del Cliente</mat-card-title>
                <label class="ancho80" for="appat" size="10">Apellido Paterno</label>
                    <input type="text" name="appat" id="appat" size="30" [(ngModel)]="nvocli.appat" 
                    oninput="this.value = this.value.toUpperCase()">
    
                <br>
                <label class="ancho80" for="apmat" size="10" >Apellido Materno</label>
                    <input type="text" name="apmat" id="apmat" size="30" [(ngModel)]="nvocli.apmat" 
                    oninput="this.value = this.value.toUpperCase()">
                <br> 
                <label class="ancho80" for="nombre1" size="10">Nombre1</label>
                    <input type="text" name="nombre1" id="nombre1" size="30" [(ngModel)]="nvocli.nompil1"
                    oninput="this.value = this.value.toUpperCase()" >
                <br>
                <label class="ancho80" for="nombre2"  size="10">Nombre2</label>
                    <input type="text" name="nombre2" id="nombre2" size="30" [(ngModel)]="nvocli.nompil2"
                    oninput="this.value = this.value.toUpperCase()" >
            </mat-card>
        <mat-card>
            <mat-card-title>Direccion del Cliente</mat-card-title>
            <label class="ancho80" for="calle">Calle y Cruzamientos</label>
                <input type="text" name="calle" id="calle" size="30" [(ngModel)]="nvocli.calle"
                oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="predio">Num.Predio</label>
                <input type="text" name="predio" id="predio" size="30" [(ngModel)]="nvocli.numpred"
                oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="colonia">Colonia</label>
                <input type="text" name="colonia" id="colonia" size="30" [(ngModel)]="nvocli.colonia" 
                oninput="this.value = this.value.toUpperCase()">
            <br>
            <label class="ancho80" for="codpost">Codigo Postal</label>
                <input type="text" name="codpost" id="codpost" size="30" [(ngModel)]="nvocli.codpost"
                oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="poblacion">Poblacion</label>
                <select name="poblacion" id="poblacion" value="{{nvocli.poblac}}" 
                 [(ngModel)]= "nvocli.poblac" >
                 <option *ngFor="let mipoblacs of poblaciones" value="{{mipoblacs.ciudad}}"
                  [selected]="nvocli.poblac == mipoblacs.ciudad">
                  {{mipoblacs.ciudad}}
                 </option>
                </select>
            <br>
            <label class="ancho80" for="emailcli">Email Cliente</label>
            <input type="text" name="emailcli" id="emailcli" size="30" [(ngModel)]="nvocli.email" >
        </mat-card>
        <br>
        <mat-card *ngIf="conaval" >
            <mat-card-title>Datos del Aval</mat-card-title>
            <label class="ancho80" for="appataval" size="10">Apellido Paterno</label>
            <input type="text" name="appataval" id="appataval" size="30" [(ngModel)]="nvoaval.appat" 
                oninput="this.value = this.value.toUpperCase()">

            <br>
            <label class="ancho80" for="apmataval" size="10" >Apellido Materno</label>
            <input type="text" name="apmataval" id="apmataval" size="30" [(ngModel)]="nvoaval.apmat" 
                oninput="this.value = this.value.toUpperCase()">
            <br> 
            <label class="ancho80" for="nombre1aval" size="10">Nombre1</label>
            <input type="text" name="nombre1aval" id="nombre1aval" size="30" [(ngModel)]="nvoaval.nompil1"
                oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="nombre2aval"  size="10">Nombre2</label>
            <input type="text" name="nombre2aval" id="nombre2aval" size="30" [(ngModel)]="nvoaval.nompil2"
                oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="dir1aval"  size="10">Direccion</label>
            <input type="text" name="dir1aval" id="dir1aval" size="30" [(ngModel)]="nvoaval.dirav1"
                    oninput="this.value = this.value.toUpperCase()" >
            <br>
            <label class="ancho80" for="dir2aval"  size="10">Direccion 2</label>
            <input type="text" name="dir2aval" id="dir2aval" size="30" [(ngModel)]="nvoaval.dirav2"
                            oninput="this.value = this.value.toUpperCase()" >
        </mat-card>

        <label for="opcion">Opcion
            <select name="opcion" id="opcion" value="{{nvocli.opcion}}" 
             [(ngModel)]= "nvocli.opcion" >
             <option *ngFor="let miopcion of cartaspro" value="{{miopcion.clave}}"
              [selected]="nvocli.opcion == miopcion.clave">
              {{miopcion.clave}} {{miopcion.descri}}
             </option>
            </select>
        </label>
        <br>
        <label for="ubicacion">Ubicacion
            <select name="ubicacion" id="ubicacion" value="{{nvocli.ubica}}" 
             [(ngModel)]= "nvocli.ubica" (blur)="selecciona_tarjetas_tc()"  >
            <option *ngFor="let miubica of ubivta" value="{{miubica.ubica}}"
              [selected]="nvocli.ubica == miubica.ubica">
              {{miubica.ubica}} {{miubica.nombre}}
              </option>
            </select>
        </label>
        <br>
        <label for="ticte">Tipo Cte
            <select name="ticte" id="ticte" value="{{nvocli.ticte}}" 
             [(ngModel)]= "nvocli.ticte" (blur)="selecciona_tarjetas_tc()" >
            <option *ngFor="let miticte of tictes_z" value="{{miticte.clave}}"
              [selected]="nvocli.ticte == miticte.clave">
              {{miticte.clave}} {{miticte.descri}}
              </option>
            </select>
        </label>
        <div *ngIf="contarjetatc">
            <label for="tipotc">Tarjeta</label>
            <select name="tipotc" id="tipotc" value="{{nvocli.tarjetatc}" 
             [(ngModel)]= "nvocli.tarjetatc" >
            <option *ngFor="let mitipotc of tarjetastc" value="{{mitipotc.clave}}"
              [selected]="nvocli.tarjetatc == mitipotc.clave">
              {{mitipotc.clave}} {{mitipotc.descri}}
              </option>
            </select>
        </div>
        <br>
        <label for="jefgpo">Entregado Por
            <select name="jefgpo" id="jefgpo" value="{{nvocli.promotor}}" 
             [(ngModel)]= "nvocli.promotor" >
            <option *ngFor="let mipromo of promotor" value="{{mipromo.cvepromo}}"
              [selected]="nvocli.promotor == mipromo.cvepromo">
              {{mipromo.cvepromo}} {{mipromo.nombre}}
              </option>
            </select>
        </label>
        <br>
        <label for="comjef">Comision Jefe Grupo
            <input type="number" name="comjef" id="comjef" size="10" [(ngModel)]="nvocli.comisionprom">
        </label> 
        <br>
        <label for="fpagcom">Fecha Pago Comision
            <input type="text" name="fpagcom" id="fpagcom" size="10" [(ngModel)]="nvocli.pgocom" >
        </label>

        <br>
        <label for="servicio">Servicio
            <input type="number" name="servicio" id="servicio" size="10" [(ngModel)]="nvocli.servicio">
        </label>
        <label for="letra1">Letra 1/1
            <input type="number" [disabled]="letra1disabled" name="letra1" id="letra1" size="10" [(ngModel)]="nvocli.letra1">
        </label>
        <br>
        <label for="enganche">Enganche
            <input name="enganche" [disabled]="factura_al_momento" type="number" id="enganche" size="10" 
            (blur)="calcu_precio_lista()" [(ngModel)]="nvocli.enganche">
        </label>
        <label for="precon">Precio.Lista
            <input type="number" [disabled]="factura_al_momento" name="precon" id="precon" size="10" 
             [(ngModel)]="nvocli.preciolista">
        </label>
        <br>
        <label for="nulets">Numero Letras
            <select name="nulets" id="nulets" value="{{nvocli.nulet}}" 
             [(ngModel)]= "nvocli.nulet" >

            <option *ngFor="let miletra of nulets" value="{{miletra.nulets}}"
              [selected]="nvocli.nulet == miletra.nulets">
              {{miletra.nulets}}
            </option>
            </select>
        </label>
        <label for="canle">Precio x Letra
            <input type="number" [disabled]="canledisabled" name="canle" id="canle" size="6" [(ngModel)]="nvocli.canle">
        </label>
        <br>
        <label for="bonif">Bonificacion
            <input type="number" [disabled]="bonifdisabled" name="bonif" id="bonif" size="6" [(ngModel)]="nvocli.bonificacion">
        </label>
        <br>
        <label for="mescum">Cumpleaños
            <select name="mescum" id="mescum" value="{{nvocli.mescum}}" 
             [(ngModel)]= "nvocli.mescum" >
            <option *ngFor="let mimes of meses_z" value="{{mimes.clave}}"
              [selected]="nvocli.mescum == mimes.clave">
              {{mimes.descri}}
              </option>
            </select>
            <input type="number" size="5" name="diacum" id="diacum"   min="1" max="31" [(ngModel)]= "nvocli.diacum" >
        </label>
    </div>    
</form>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-around; justify-items: center;">
    <button mat-raised-button  color="warn" (click)="closeno()">Cancelar</button>
    <button mat-raised-button  color="primary"   (click)="closeyes()">Aceptar</button>
</div>
