<div>
    <label for="codigo">
        Codigo
        <input type="text" size="15" name="codigo" [(ngModel)]="codcli_z">
       
    </label>
    <button mat-raised-button color="primary" (click)="buscarcliente()" >Aceptar</button>
             
    <button mat-raised-button color="primary" (click)="busqueda_por_nombre()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        Buscar por Nombre
    </button>
</div>
<div *ngIf="cliente">

<table border="1">
    <tr>
        <td>
            Codigo: <b>{{cliente.numcli}}</b> 
            <button mat-raised-button color="primary" (click)="impresion_edocta()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
                Estado Cuenta
            </button>
                    
            <br>
            Nombre: <b>{{cliente.nombre}}</b> <br>
            Direccion: <b>{{cliente.direc}}</b> <br>
            Poblacion: <b>{{cliente.poblac}}</b> <br>
            Promotor: <b> {{cliente.promotor}} </b>
        </td>
        <td>
            Ubicacion: <b> {{cliente.ubica}} </b>
            Carta: <b> {{cliente.opcion}} </b>
            Precio Lista: <b> {{ cliente.preciolista | currency }} </b><br>
            Servicio: <b> {{ cliente.servicio | currency }} </b>
            Enganche: <b> {{ cliente.enganche | currency }} </b><br>
            Letras: <b> {{cliente.nulet}} </b> Q/M/C:  <b> {{cliente.qom}} </b><br>
            Precio x Letra: <b> {{cliente.canle | currency}} </b> <br>
            Bonificacion: <b> {{cliente.bonificacion | currency}} </b><br>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Cargos: <b> {{cliente.cargos | currency}} </b>
            Abonos: <b> {{cliente.abonos | currency}} </b>
            Saldo: <b> {{cliente.cargos - cliente.abonos | currency}} </b>
        </td>
    </tr>
    <tr *ngIf="cliente.qom != tipocontado_z ">
        <td colspan="2">
                Aval: <b> {{nomaval}} </b><br>
                Direccion Aval: <b> {{diraval}} </b>
            
        </td>
    </tr>
    <tr>
        <td colspan="2">
                Compra: <b> {{compracli_z}} </b>
        </td>
    </tr>
</table>
    <div id="movimientos">
        <mat-tab-group>
            <mat-tab label="Movimientos">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Usr</th>
                        <th>Poliza</th>
                        <th>Prm</th>
                        <th>Tipo</th>
                        <th align="right">Recargos</th>
                        <th align="right">Bonificacion</th>
                        <th align="right">Importe</th>
                        <th align="right">Saldo</th>
                    </tr>
                    <tr *ngFor="let mimov of mismovclis" >
                        <td> {{mimov.fechamov}} </td>
                        <td> {{mimov.concep}} </td>
                        <td> {{mimov.usuario}} </td>
                        <td> {{mimov.poliza}} </td>
                        <td> {{mimov.oper}} </td>
                        <td> {{mimov.tipag}} </td>
                        <td  align="right"> 
                            <label for="" *ngIf="mimov.recargo > 0">{{mimov.recargo | currency}}</label> 
                        </td>
                        <td  align="right"> 
                            <label for="" *ngIf="mimov.bonificacion> 0">{{mimov.bonificacion | currency}}</label> 
                        </td>
                        <td  align="right"> {{mimov.importe | currency}} </td>
                        <td  align="right"> {{mimov.saldo | currency}} </td>
                    </tr>
                </table>   
        
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span (click)="busca_observcli(cliente.idcli)">Observaciones</span>
                </ng-template>
                <table border=1 class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Fecha</th>
                        <th>Observaciones</th>
                    </tr>
                    <tr *ngFor="let miobs of observs" >
                        <td> {{miobs.fecha}} </td>
                        <td> {{miobs.observ}} </td>
                    </tr>
                </table>   
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span (click)="busca_plazos(cliente.idcli)">Plazos</span>
                </ng-template>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Fecha</th>
                        <th>Vence</th>
                        <th>Promo</th>
                        <th>Observaciones</th>
                    </tr>
                    <tr *ngFor="let miplazo of plazos" >
                        <td> {{miplazo.fecha}} </td>
                        <td> {{miplazo.vence}} </td>
                        <td> {{miplazo.cvepromo}} </td>
                        <td> {{miplazo.observ}} </td>
                    </tr>
                </table>   
            </mat-tab>
            <mat-tab label="Reportes Servicio">
                <p>Estos son los reportes de Servicio</p>
            </mat-tab>
            <mat-tab label="Datos Solicitud">
                <p>Estos son los reportes de Servicio</p>
            </mat-tab>
            <mat-tab label="Comisiones Vendedores">
                <p>Estos son los reportes de Servicio</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
