/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: blue;
    background-color: white;
  }
  nav a.active {
    background-color: black;
  }
  
  .derecha {
    flex: 1 1;
  }


  .ancho80 {
    display: inline-block;
    width: 80px;
}
  
.ancho40 {
    display: inline-block;
    width: 80px;
}

mat-form-field {
    padding-left: 5px;
}

.material-icons.color_green { color: #00FF00; }
.material-icons.color_white { color: #FFFFFF; }
.material-icons.color_red { color:  #e61111;  }
