<div>
    <h2>Datos de la Nueva Venta</h2>
    <label >Proporcione los productos y seleccione el tipo de Venta</label><br>
        <button mat-raised-button color="primary" (click)="regresar()"  >
            <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_left</mat-icon>
             Regresar
            </button>

    <form #formularioCliente="ngForm">
        <label class="ancho80" for="codcartera">Codigo Cliente</label>
        <input type="text" name="codcartera" id="codcartera" size="10" 
        [(ngModel)]="codcartera_z" (blur)="grabar_datos_venta()" >
        <br>
        <label class="ancho80" for="ubicacion">Ubicacion </label>
        <select name="ubicacion" id="ubicacion" value="ubica"
             [(ngModel)]= "ubica" (blur)="selecciona_tarjetas_tc()"  >
            <option *ngFor="let miubica of ubivta" value="{{miubica.ubica}}"
              [selected]="ubica == miubica.ubica">
              {{miubica.ubica}} {{miubica.nombre}}
              </option>
        </select>
        <label for="status">Status
            <select name="status" id="status" value="{{nvoclistatus}}" 
             [(ngModel)]= "nvoclistatus" (blur)="verficar_cambio_status()" >
             <option *ngFor="let mistatus of statuscli" value="{{mistatus.clave}}"
              [selected]="nvoclistatus == mistatus.clave">
              {{mistatus.descri}}
             </option>
            </select>
        </label>
        <br>
        <label class="ancho80" for="vendedor">Vendedor</label>
        <select name="codvnd" id="codvnd" 
        [(ngModel)]= "codvnd" >
            <option *ngFor="let mivendedor of vendedores" value="{{mivendedor.codvnd}}"
            [selected]="mivendedor.codvnd == codvnd">
            {{mivendedor.codvnd}} {{mivendedor.nombre}}
            </option>
        </select>
        <br>
        <div class="datoseconomicos" >
            <label class="ancho80" for="ticte">Tipo Cte</label>
            <select name="ticte" id="ticte" value="{{ticte}}"  [disabled]="nopuedecambiartc"
                 [(ngModel)]= "ticte" (blur)="selecciona_tarjetas_tc()" >
                <option *ngFor="let miticte of tictes_z" value="{{miticte.clave}}"
                  [selected]="ticte == miticte.clave">
                  {{miticte.clave}} {{miticte.descri}}
                  </option>
            </select>
            <br>
            <div *ngIf="contarjetatc">
                <label class="ancho80" for="tipotc">Tarjeta</label>
                <select name="tipotc" id="tipotc" value="{{mitarjetatc}}"  [disabled]="nopuedecambiartc"
                 [(ngModel)]= "mitarjetatc"  (blur)="calcular_totales()"  >
                   <option *ngFor="let mitipotc of tarjetastc" value="{{mitipotc.clave}}"
                   [selected]="mitarjetatc == mitipotc.clave">
                   {{mitipotc.clave}} {{mitipotc.descri}}
                   </option>
                </select>
            </div>
    
        </div>

        <br>
        <div>
            <div >
                <label for="Articulo">Articulo: 
                    <input type="text"  name="Articulo" [(ngModel)]= "codigo_z">
                </label>
                <button mat-raised-button color="primary" (click)="xagregar_renfac()" >
                    <mat-icon aria-hidden="false" aria-label="Example new icon">add_box</mat-icon>
                       Buscar y Agregar Artículo
                </button>
                <button mat-raised-button color="primary" (click)="precios_abiertos()" >
                    <mat-icon aria-hidden="false" aria-label="Example new icon">security</mat-icon>
                       Abrir Precios
                </button>
            </div>
            <table border="1" class="hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio.U</th>
                        <th>Importe</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mirenfac of articuloscotizados; first as isFirst; last as isLast">
                        <td>{{mirenfac.codigo}}</td>
                        <td>{{mirenfac.concepto}}
                            <div *ngIf="mirenfac.folio">
                                 Folio: {{mirenfac.folio}} 
                                 <p *ngIf="mirenfac.serie">
                                    Serie: {{mirenfac.serie}}
                                 </p>
                                
                                <p *ngIf="mirenfac.esmoto == esmoto">
                                    Serie Motor: {{mirenfac.seriemotor}}
                                    Pedimento: {{mirenfac.pedimento}}
                                    Aduana: {{mirenfac.aduana}}
                                    Marca: {{mirenfac.marca}}
                                </p>
    
    
                            </div>
                        </td>
                        <td> {{mirenfac.canti}} </td>
                        <td>
                            {{mirenfac.importe | currency }}
                        </td>
                        <td> 
                            <label for="" *ngIf="oferta && mirenfac.esoferta">Oferta <mat-icon> local_offer</mat-icon></label> 
                            {{mirenfac.importe + mirenfac.iva | currency}} 
                        </td>
                        <td>
                            <button  mat-raised-button color="primary" (click)="acompletar_datos_renfac(mirenfac)" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">edit</mat-icon>
                                Acompletar Datos
                            </button>
                            <button  *ngIf="pideoferta_z" mat-raised-button color="primary" (click)="pide_precio_oferta(mirenfac)" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">edit</mat-icon>
                                Cambiar Precio Oferta
                            </button>

                            <button *ngIf="!escerrada" mat-raised-button color="warn" (click)="eliminar_renfac(mirenfac)" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">delete</mat-icon>
                                Eliminar
                            </button>
                            <button  *ngIf="!isFirst" mat-raised-button color="primary" (click)="subir_renfac(mirenfac)" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_up</mat-icon>
                                Subir
                            </button>
                            <button  *ngIf="!isLast" mat-raised-button color="primary" (click)="bajar_renfac(mirenfac)" >
                                <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_down</mat-icon>
                                Bajar
                            </button>
    
                        </td>
    
                    </tr>
                </tbody>
            </table>
    
        </div>
        <div>
            <label class="ancho160" for="servicio">Servicio/Redondeo</label>
            <input type="number" min="0" name="servicio" id="servicio"  
              [(ngModel)]="servicio" (blur)="calcular_totales()" >
            <br>
            <label class="ancho160" for="importe">Importe</label>
            <input type="text" readonly name="importe" id="importe" value = "{{totimporte | currency}} ">
            <br>
            <label class="ancho160" for="iva">Iva</label>
            <input type="text" id="iva" readonly name="iva" value="{{totiva | currency}} ">
            <br>
            <label class="ancho160" for="total">Total</label>
            <input type="text" id="total" name="total" value="{{tottotal | currency}} ">
            <br>
            <div *ngIf ="descto"> 
                <label class="ancho160" for="descto">Descuento</label>
                <input type="text" readonly value = "{{descto | currency}}">
            </div>
            <div *ngIf="escredito">
                <label class="ancho160" for="enganche">Enganche</label>
                <input type="number" name="enganche" id="enganche" size="10" 
                [(ngModel)]="enganche" (blur)="calcular_totales()">
                
                <br>
                <label for="nulets">Numero Letras
                    <select name="nulets" id="nulets" value="{{nulet}}" 
                     [(ngModel)]= "nulet" (blur)="calcular_totales()">
                    <option *ngFor="let miletra of factoresvtacrd" value="{{miletra.plazo}}"
                      [selected]="nulet == miletra.plazo">
                      {{miletra.plazo}}
                      </option>
                    </select>
                </label>
    
                <label for="preciolet">Importe por Letra</label>
                <input type="text" id="preciolet" readonly name="preciolet" value="{{preciolet | currency}} ">
                <br>
                <div *ngIf="simostrarprodfin">
                    <label class="ancho160" for="prodfin">Prod.Financieros</label>
                    <input type="text" id="prodfin" readonly name="prodfin" value="{{totprodfin | currency}} ">
                </div>
            </div>
            <label class="ancho160" for="totgral">Total Venta</label>
            <input type="text" id="totgral" readonly name="totgral" value="{{totgral + servicio | currency}} ">
            <label for="">Tasa Descto {{this.factordscto}} </label>
            <br>
            <div *ngIf="hayerror">
                <p class="error">{{msgerror_z}} <mat-icon class="red-icon">warning</mat-icon> </p>
            </div>
        </div>
        <div *ngIf="esvalido">
            <button mat-raised-button color="primary" (click)="pedir_datos_fac()"  >
                <mat-icon aria-hidden="false" aria-label="Example new icon">receipt</mat-icon>
                 Acompletar datos Factura
                </button>
            <button [disabled]="!yapedidatos || grabando" mat-raised-button color="primary" (click)="aceptar()"  >
                <mat-icon aria-hidden="false" aria-label="Example new icon">check_circle_outline</mat-icon>
                 Proceder a Levantar la Venta
                 <mat-spinner *ngIf="grabando" diameter="35"></mat-spinner>
                </button>
                <p>Para Proceder a Levantar la Venta debe Acompletar los datos de Factura</p>
            </div>
    
    </form>
</div>


