<div>
    <label for="tienda">Tienda</label>
    <select name="tienda" id="tienda" [(ngModel)]="micodpol" >
        <option *ngFor="let mitienda of codigospolizas" value="{{mitienda}}" 
        [selected]="mitienda.clave == codpol_z">
            {{mitienda.clave}} {{mitienda.nombre}}
        </option>
    </select>
    
    <label for="fecha">Fecha Inicial</label>
    <input type="date" name="fechaini" id="fechaini" [(ngModel)]="fechaini" >
    <label for="fecha">Fecha Final</label>
    <input type="date" name="fechafin" id="fechafin" [(ngModel)]="fechafin" >
    <button *ngIf="micodpol" mat-raised-button 
    color="primary"
    (click)="buscarrelcobs()">Aceptar</button>
    
    

</div>
<div>
    <button mat-raised-button color="primary" (click)="agregar_relcob()" >
        <mat-icon aria-hidden="false" aria-label="Example new icon">add_box</mat-icon>
        Nueva Relacion
    </button>
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Promotor</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let relcob  of relcobs">
            <td>{{relcob.fecha}} </td>
            <td>{{relcob.promot}} </td>
            <td>{{relcob.nombrepromo}} </td>
            <td>
                <button mat-raised-button color="primary"
                (click)="detalles_relcob(relcob)">Detalles</button>
                
            </td>
            <td>
                <button mat-raised-button color="primary"
                (click)="liquidar_relcob()">
                <mat-icon> attach_money</mat-icon>
                Liquidar</button>
                
            </td>
        </tr>
    </table>
</div>

