<app-spinner></app-spinner> 
<div>
    <label for="tienda">Tienda</label>
    <select name="tienda" id="tienda" [(ngModel)]="tienda" >
        <option *ngFor="let mitienda of codigospolizas" >
            {{mitienda.clave}} {{mitienda.nombre}}
        </option>
    </select>
    
    <label for="fecha">Fecha</label>
    <input type="date" name="fecha" id="fecha" [(ngModel)]="fecha" >
    <label for="jefgpo">Promotor
        <select name="jefgpo" id="jefgpo" value="{{promot}}" 
         [(ngModel)]= "promot" >        
         <option *ngFor="let mipromo of promotores" value="{{mipromo.cvepromo}}"
          [selected]="promot == mipromo.cvepromo">
          {{mipromo.cvepromo}} {{mipromo.nombre}}
         </option>
        </select>
    </label>

    <button mat-raised-button 
    color="primary" *ngIf="!polizaactiva_z" 
    (click)="aceptarpoliza()">Aceptar</button>
    

</div>
<div>
    <table border="1">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Entregó</th>
            <th>Vence Plazo</th>
            <th>Otorgó Plazo</th>
            <th>Tipo Plazo</th>
            <th>Letras</th>
            <th>Precio x Letra</th>
            <th>Importe</th>
            <th>Ultimo Abono</th>
            <th>Penúltimo Abono</th>
            <th>Reporte</th>
            <th>Relación</th>
        </tr>
        <tr *ngFor="let renrelco of renglonesrel">
            <td>{{renrelco.numcli}} </td>
            <td>{{renrelco.nombre}} </td>
            <td>{{renrelco.poblacion}} </td>
            <td>{{renrelco.promot}} </td>
            <td>{{renrelco.promoplazo}} </td>
            <td>{{renrelco.tipoplazo}} </td>
            <td>{{renrelco.letras}} </td>
            <td>{{renrelco.diasven}} </td>
            <td>{{renrelco.impxlet}} </td>
            <td>{{renrelco.importe}} </td>
            <td>{{renrelco.ultimoabono}} </td>
            <td>{{renrelco.penultimoabono}} </td>
            <td>{{renrelco.reporte}} </td>
            <td>{{renrelco.relacion}} </td>
        </tr>
    </table>
</div>